.btn.btn--primary {
    background-color: $brand-color !important;
    border-radius: 50% !important;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    .material-icons {
        font-size: 70px;
        line-height: 100px;
        color: $background-color;
    }

    &.btn--primary--small {
        width: 50px;
        height: 50px;
        .material-icons {
            font-size: 35px;
            line-height: 50px;
            margin-top: -1px;
            color: $background-color;
        }
    }
}

select, option {
    border: none !important;
    border-radius: 0 !important;
    color: $background-color;
}

select {
    font-size: 1.953em;
    height: auto;
}
