.btn.btn--primary {
    background-color: $brand-color !important;
    border-radius: 50% !important;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    .material-icons {
        font-size: 70px;
        line-height: 100px;
    }

    &.btn--primary--small {
        width: 60px;
        height: 60px;
        .material-icons {
            font-size: 42px;
            line-height: 60px;
            margin-top: -1px;
        }
    }
}