@import '../node_modules/kanbasu/src/assets/scss/kanbasu';
@import 'settings';
@import 'controls';
@import 'note';
@import 'progress-bar';

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $brand-color;
}

a, a:visited, a:hover, a:active, a:focus {
    color: $brand-color;
}

[data-is-clickable] {
    display: inline-block;
}
