---
layout: default.hbs
title: Hello, World!
---

{{!-- Simple example template to show usage of pages and click hint --}}
<h1>{{ title }}</h1>

<p>
    <a href="#" data-is-clickable>Click me!</a>
</p>
