---
layout: default.hbs
title: Hello, World!
---

{{!-- Simple example template to show usage of pages and click hint --}}
<div class="mrg">
    <h1>{{ title }}</h1>
    <p>
        <span data-note="Notes can be added, too!">I contain a note, click me to show it.</span>
    </p>
    <p>
        <a href="#" data-is-clickable>Click me!</a>
    </p>
</div>
