---
layout: default.hbs
---

<div class="grid">
    <div class="grid__item w-1/2">
        <a href="index.html" data-is-clickable>
            <button class="btn btn--primary btn--primary--small">
                <i class="material-icons text-transition">mood</i>
            </button>
        </a>
    </div>
    <div class="grid__item w-1/2">
        <div class="text-right">
            <a href="files.html" data-is-clickable>
                <button class="btn btn--primary btn--primary--small">
                    <i class="material-icons text-transition">file_upload</i>
                </button>
            </a>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="mrg">Random artist</h1>
    <h2 class="mrg">Some track</h2>
</div>

<div class="grid mrgt+">
    <div class="grid__item w-1/1">
        <div class="progress-bar text-transition">
        </div>
    </div>
</div>


<div class="grid mrgt++">
    <div class="grid__item w-1/3">
        <button class="btn btn--primary btn--primary--small">
            <i class="material-icons text-transition">skip_previous</i>
        </button>
    </div>

    <div class="grid__item w-1/6">
        <div class="text-right">
            <button class="btn btn--primary btn--primary--small">
                <i class="material-icons text-transition">play_arrow</i>
            </button>
        </div>
    </div>

    <div class="grid__item w-1/6">
        <div class="text-left">
            <button class="btn btn--primary btn--primary--small">
                <i class="material-icons text-transition">pause</i>
            </button>
        </div>
    </div>

    <div class="grid__item w-1/3">
        <div class="text-right">
            <button class="btn btn--primary btn--primary--small">
                <i class="material-icons text-transition">skip_next</i>
            </button>
        </div>
    </div>
</div>