{{!-- Alter this file at your own will. Keep `css/animate.min.css` and `assets/js/click-hint.js`
in the file if you want the click indicator to work --}}
<!DOCTYPE html>
<html lang="de" class="green">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>

<body class="mrg pdg0">
    {{> body }}

    <script type="text/javascript" src="assets/js/note.js"></script>
    <script type="text/javascript" src="assets/js/mood.js"></script>
    <script type="text/javascript" src="assets/js/vendor/processing.min.js"></script>
    <script type="text/javascript" src="assets/js/file_processing.js"></script>
</body>
</html>
